:root, .title, .label {
  background-color: black;
  color: white !important;
  overflow: hidden;
}

#app {
  width: 100%;
  height: 100%;
  padding: 1rem;
  font-weight: normal;
}

body {
  display: flex;
  place-items: center;
}

html, body, #app, #pageroot {
  height: 100%;
  width: 100%;
}